version: '3.4'
volumes:
    database_mlflow:
    artifact-store: 

services:
    s3:
        image: minio/minio:RELEASE.2025-09-07T16-13-09Z
        container_name: s3
        restart: always
        hostname: s3
        volumes:
            - artifact-store:/data
        ports:
            - 9100:${MINIO_PORT_API}
            - 9101:${MINIO_PORT_UI}
        expose:
            - ${MINIO_PORT_API}
            - ${MINIO_PORT_UI}
        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
        command:
            server /data --console-address ":${MINIO_PORT_UI}"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:${MINIO_PORT_API}/minio/health/live"]
            interval: 10s
            timeout: 10s
            retries: 3
        networks:
            - nginxproxy_energyguard_net

    create_bucket:
        image: minio/mc:latest
        depends_on:
        - s3
        entrypoint: >
            /bin/sh -c '
            # wait for minio
            until mc alias set local http://s3:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}; do
                echo 'waiting for minio...'; sleep 2;
            done;

            # create bucket if missing
            mc ls local/${BUCKET_NAME} >/dev/null 2>&1 || mc mb -p local/${BUCKET_NAME};

            # OPTIONAL: do NOT make it public unless you truly want anonymous access
            # mc anonymous set download local/${BUCKET_NAME};   # public read (download)
            # mc anonymous set public local/${BUCKET_NAME};     # public read+list (depends on policy)
            # mc anonymous set none local/${BUCKET_NAME};       # explicit private

            exit 0;
            '
        networks:
            - nginxproxy_energyguard_net

    pgdb:
        container_name: pgdb
        restart: always
        build: ./docker-db
        # image: pgdb
        volumes:
            - database_mlflow:/var/lib/postgresql/data
        ports:
            - 5431:5432
        expose:
            - '5431'
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DATABASE: ${POSTGRES_DATABASE}
            PGDATA: /var/lib/postgresql/data/pgdata
        networks:
            - nginxproxy_energyguard_net

    mlflow_server:
        restart: always
        build: ./docker-mlflow-server
        # image: mlflow_server
        container_name: mlflow_server
        ports:
            - 5000:5000
        expose:
            - 5000
        environment:
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_DATABASE: ${POSTGRES_DATABASE}
            MLFLOW_S3_ENDPOINT_URL: http://s3:${MINIO_PORT_API}
            AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
            AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
        depends_on: 
            - s3
            - pgdb
        networks:
            - nginxproxy_energyguard_net
        command: bash -c 
            "mlflow server --backend-store-uri postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgdb:5432/${POSTGRES_DATABASE} --host 0.0.0.0 --default-artifact-root s3://${BUCKET_NAME}/ --allowed-hosts mlflow.energy-guard.eu,localhost:*"


# volumes are initiated locally in /var/lib/docker/volumes

networks:
    nginxproxy_energyguard_net:
        external: true    
